<div>
    <a id="cobaltButton" (click)="selectGhastlyEye()"><img src="../../../assets/Images/Jewels/GhastlyEye.png" /></a>
    <a id="cobaltButton" (click)="selectHypnoticEye()"><img src="../../../assets/Images/Jewels/HypnoticEye.png" /></a>
    <a id="cobaltButton" (click)="selectMurderousEye()"><img src="../../../assets/Images/Jewels/MurderousEye.png" /></a>
    <a id="cobaltButton" (click)="selectSearchingEye()"><img src="../../../assets/Images/Jewels/SearchingEye.png" /></a>
</div>
<div class="row col-lg-4">
    <div class="jw-item-properties">
        <div class="jw-item-spotlight poe-item-overlay poe-item-rare">
            <div class="poe-itemdesc-header">
                <div>{{jewelType}}</div>
            </div>
            <div class="poe-itemdesc-augmenttext">What am</div>
            <div class="poe-itemdesc-augmenttext">I even</div>
            <div class="poe-itemdesc-augmenttext">Doing Right</div>
            <div class="poe-itemdesc-augmenttext">now, Richard?</div>
            <div>                
                <img id="selectedJewelImage" src="{{ jewelImageURL }}">
            </div>
        </div>
    </div>
</div>
