<div class="jw-item-spotlight">
    <a id="transmutationButton" class="btn"  (click)="useOrb(Orbs.Transmutation)"><img src="../../../assets/Images/Currency/TransmutationOrb.png" /></a>
    <a id="augmentationButton" class="btn" (click)="useOrb(Orbs.Augmentation)"><img src="../../../assets/Images/Currency/AugmentationOrb.png" /></a>
    <a id="alterationButton" class="btn" (click)="useOrb(Orbs.Alteration)"><img src="../../../assets/Images/Currency/AlterationOrb.png" /></a>
    <a id="regalButton" class="btn" (click)="useOrb(Orbs.Regal)"><img src="../../../assets/Images/Currency/RegalOrb.png" /></a>
    <a id="alchemyButton" class="btn" (click)="useOrb(Orbs.Alchemy)"><img src="../../../assets/Images/Currency/AlchemyOrb.png" /></a>
    <a id="chaosButton" class="btn" (click)="useOrb(Orbs.Chaos)"><img src="../../../assets/Images/Currency/ChaosOrb.png" /></a>
    <a id="scouringButton" class="btn" (click)="useOrb(Orbs.Scouring)"><img src="../../../assets/Images/Currency/ScouringOrb.png" /></a>
    <a id="annulmentButton" class="btn" (click)="useOrb(Orbs.Annulment)"><img src="../../../assets/Images/Currency/AnnulmentOrb.png" /></a>
    <a id="divineButton" class="btn" (click)="useOrb(Orbs.Divine)"><img src="../../../assets/Images/Currency/DivineOrb.png" /></a>
    <a id="exaltedButton" class="btn" (click)="useOrb(Orbs.Exalted)"><img src="../../../assets/Images/Currency/ExaltedOrb.png" /></a>
    <a id="blessedButton" class="btn" (click)="useOrb(Orbs.Blessed)"><img src="../../../assets/Images/Currency/BlessedOrb.png" /></a>
    <a id="vaalButton" class="btn" (click)="useOrb(Orbs.Vaal)"><img src="../../../assets/Images/Currency/VaalOrb.png" /></a>
</div>

