<div class="jw-item-spotlight">
    <a id="transmutationButton" class="btn" (click)="useTransmutation()"><img src="../../../assets/Images/Currency/TransmutationOrb.png" /></a>
    <a id="augmentationButton" class="btn" (click)="useAugmentation()"><img src="../../../assets/Images/Currency/AugmentationOrb.png" /></a>
    <a id="alterationButton" class="btn" (click)="useAlteration()"><img src="../../../assets/Images/Currency/AlterationOrb.png" /></a>
    <a id="regalButton" class="btn" (click)="useRegal()"><img src="../../../assets/Images/Currency/RegalOrb.png" /></a>
    <a id="alchemyButton" class="btn" (click)="useAlchemy()"><img src="../../../assets/Images/Currency/AlchemyOrb.png" /></a>
    <a id="chaosButton" class="btn" (click)="useChaos()"><img src="../../../assets/Images/Currency/ChaosOrb.png" /></a>
    <a id="scouringButton" class="btn" (click)="useScouring()"><img src="../../../assets/Images/Currency/ScouringOrb.png" /></a>
    <a id="annulmentButton" class="btn" (click)="useAnnulment()"><img src="../../../assets/Images/Currency/AnnulmentOrb.png" /></a>
    <a id="divineButton" class="btn" (click)="useDivine()"><img src="../../../assets/Images/Currency/DivineOrb.png" /></a>
    <a id="blessedButton" class="btn" (click)="useBlessed()"><img src="../../../assets/Images/Currency/BlessedOrb.png" /></a>
    <a id="vaalButton" class="btn" (click)="useVaal()"><img src="../../../assets/Images/Currency/VaalOrb.png" /></a>
</div>

